---
layout: base
---

<div class="page">

	<article class="post">

		<p class="arrow-back">
			<a href="/">&larr;</a>
		</p>

		<time class="post__time">{{ page.date | date: "%b %-d, %Y" }}</time>

		<hgroup>	
			<h1 class="post__title">{{ page.title }}</h1>
			<h2 class="post__subtitle">{{ page.subtitle }}</h2>
		</hgroup>
		
		<div class="post__content">

			{{ content }}

		</div>

	</article>

	<a class="button" href="{{ page.xlink }}">Comment on 𝕏</a>

	<!-- <section class="comments">
		{% include welcomments/comments.html
		    api_url    = "https://welcomments.io/api"
		    website_id = "SeNbxogmOtK6aC5qRS1k" %}
	</section> -->

</div>
